{
  "bracketSpacing": true,
  "endOfLine": "lf",
  "printWidth": 120,
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "none",
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "strict",
  "jsxSingleQuote": false
}